body
{
  background-color: white;
  padding: 20px;
}
table{
text-align: right;
border-collapse: collapse;
}
td{
  width: 20px;
}
.article
{
  width: 500px;
  padding: 10px;
  margin: 10px;
  margin-right: 10px;
  float:left;
}
#yksi{
  background-color: #ffdab9;
}
#kaksi{
  background-color: #bc8f8f;
}
#kolme{
    background-color: #778899;
}
#nelja{
    background-color: #B3FFB3;
}
#viisi{
    background-color: #B3D1FF;
}
#kuusi{
  background-color: #9DF9EF;
}
#seiska{
  background-color: #f0f8ff ;
}
#kasi{
  background-color: #FFA8B5;
}
#ysi{
  background-color: #d0bdf4;
}
#kyba{
  background-color: #fceed1;
}
#ykst{
  background-color: #39a0ca;
}
