*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper

{
  height: 100vh;
  display: flex;
/*  background-color: purple;*/
  background-image: url(https://cdn.discordapp.com/attachments/1003712694072918127/1040729778849857586/egorek_Purple_wooden_shelf_with_black_background_realistic_ligh_e22e6aaa-46d4-4697-9eec-02abafaa358e.png);

}
.timer
{
  position: absolute;
  margin-left: 70vh;
  margin-top: -50vh;
  z-index:  100;
  border: 3px solid white;
  border-radius: 17px;
  color: white;
}

.buttons
{
  position: absolute;
  margin-left: 40vh;
}

.statistic
{
  position: absolute;
  z-index:  100;
}

.statisticSection
{
  margin-left: 19vh;
  margin-top: 40vh;
  width: 150px;
  height: 150px;
  border: 3px solid #8A458A;
  border-radius: 30px;
  box-shadow: 10px 10px 40px rgb(0 0 0 / 400%);
}
.statisticSection > p
{
  font-family: 'Saira', sans-serif;
  color:#0E0E0E;
  font-size: 20px;

}

.wtf
{
  position: absolute;
  z-index:  100;
  visibility: hidden;
}
.NotHidden
{
  position: absolute;
  z-index:  100;
  animation: 1s show ease;
}
@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}
.surprise
{
  margin-left: 89vh;
  margin-top: 40vh;
  width: 250px;
  height: 250px;
/*  border-radius: 17px;*/
/*  background-color: white;*/
  background-image: url(kuvat/bg-win.png);
  text-align: center;
  padding: 30px 20px;
  border: 3px solid #8A458A;
  border-radius: 30px;
  box-shadow: 10px 10px 40px rgb(0 0 0 / 400%);
}
h1
{
  font-family: 'Saira', sans-serif;
  color:#DFD3DF!important;
  text-shadow: 1px 0 1px #000,
  0 1px 1px #000,
  -1px 0 1px #000,
  0 -1px 1px #000;
}
.surprise > p
{
  font-family: 'Saira', sans-serif;
  color:#0E0E0E;
}


.memory-game
{
  width: 720px;
  height: 750px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  perspective: 1000px;

}
.memory-card
{
  height: 174px;
  width: 170px;
  cursor: pointer;
  /*transform: scale(1);*/
  user-select: none;
  backface-visibility: hidden;
  transform: rotateY(0deg);
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  margin: 5px;
}

.flip {
  transform: rotateY(180deg);
}

.memory-card:active
{
  transform: scale(0.97);
  transition: transform 0.2s;
}

/*
img
{
  height: 170px;
  width: 170px;
}
*/
.front-face, .back-face
{
  width: 100%;
  height: 100%;
  padding: 0.99999px;
  position: absolute;
  border-radius: 17px;
  background-color: #764B8E;
  backface-visibility: hidden;
}

.front-face
{
  transform: rotateY(180deg);
}
