*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper

{
  height: 100vh;
  display: flex;
/*  background-color: purple;*/
  background-image: url(https://cdn.discordapp.com/attachments/1003712694072918127/1040729778849857586/egorek_Purple_wooden_shelf_with_black_background_realistic_ligh_e22e6aaa-46d4-4697-9eec-02abafaa358e.png);

}
.timer
{
  margin-left: 19vh;
  margin-top: -25vh;
  z-index:  100;
  border: 3px solid white;
  border-radius: 17px;
  border-color: #8A458A;;
  height: 70px;
  color:#FFFFFF;
  background: rgba(52, 0, 52, 0.9);
}

.buttons
{
  position: absolute;
  margin-left: 17.5vh;
  margin-top: 59vh;
}

.statistic
{
  position: absolute;
  z-index:  100;
  text-align: center;
}

.statisticSection
{
  margin-left: 19vh;
  margin-top: 40vh;
  width: 170px;
  height: 150px;
  border: 3px solid #8A458A;
  border-radius: 30px;
  box-shadow: 10px 10px 40px rgb(0 0 0 / 400%);
  padding-top: 20px;
  background: rgba(52, 0, 52, 0.9);
}
.statisticSection > p
{
  font-family: 'Saira', sans-serif;
  color:#FFFFFF;
  font-size: 20px;
  padding: 10px;

}


.wtf
{
  position: absolute;
  z-index:  100;
  visibility: hidden;
}
.NotHidden
{
  position: absolute;
  z-index:  100;
  animation: 1s show ease;
}
@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}

.surprise
{
  margin-left: 89vh;
  margin-top: 40vh;
  width: 250px;
  height: 250px;
/*  border-radius: 17px;*/
/*  background-color: white;*/
  background-image: url(kuvat/bg-win.png);
  text-align: center;
  padding: 30px 20px;
  border: 3px solid #8A458A;
  border-radius: 30px;
  box-shadow: 10px 10px 40px rgb(0 0 0 / 400%);
}
h1
{
  font-family: 'Saira', sans-serif;
  color:#DFD3DF!important;
  text-shadow: 1px 0 1px #000,
  0 1px 1px #000,
  -1px 0 1px #000,
  0 -1px 1px #000;
}
.surprise > p
{
  font-family: 'Saira', sans-serif;
  color:#0E0E0E;
}


.memory-game
{
  width: 720px;
  height: 750px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  perspective: 1000px;

}
.memory-card
{
  height: 174px;
  width: 170px;
  cursor: pointer;
  /*transform: scale(1);*/
  user-select: none;
  backface-visibility: hidden;
  transform: rotateY(0deg);
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  margin: 5px;
}

.flip {
  transform: rotateY(180deg);
}

.memory-card:active
{
  transform: scale(0.97);
  transition: transform 0.2s;
}

/*
img
{
  height: 170px;
  width: 170px;
}
*/
.front-face, .back-face
{
  width: 100%;
  height: 100%;
  padding: 0.99999px;
  position: absolute;
  border-radius: 17px;
  background-color: #764B8E;
  backface-visibility: hidden;
}

.front-face
{
  transform: rotateY(180deg);
}

.button-72 {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(rgba(179, 132, 201, .84), rgba(57, 31, 91, .84) 50%);
  border-radius: 42px;
  border-width: 0;
  box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,rgba(179, 132, 201, 0.4) 0 8px 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  font-family: Quicksand,sans-serif;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: .04em;
  line-height: 16px;
  margin: 0;
  padding: 18px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,rgba(255, 255, 255, 0.2) 0 0 12px,rgba(57, 31, 91, 0.6) 1px 1px 4px,rgba(57, 31, 91, 0.32) 4px 4px 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.button-72:hover {
  background-image: linear-gradient(#B384C9, #391F5B 50%);
}

@media (min-width: 768px) {
  .button-72 {
    font-size: 21px;
    padding: 18px 34px;
  }
}

.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #771177 50%,#A794A7);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(52, 0, 52);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}
