*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper
{
  height: 100vh;
  display: flex;
  background-color: white;
}

.memory-game
{
  width: 750px;
  height: 550px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  perspective: 1000px;
}

.memory-card
{
  height: 174px;
  width: 170px;
transform: scale(1);
position: relative;
transition: transform 0.5s;
transform-style: preserve-3d;
margin: 5px;
}

.memory-card.flip
{
  transform: rotateY(180deg);
}
.memory-card:active
{
  transform: scale(0.97);
  transition: transform 0.2s;
}


img
{
  height: 170px;
  width: 170px;
}

.front-face, .back-face
{
  width: 100%;
  height: 100%;
  padding: 0.99999px;
  position: absolute;
  border-radius: 17px;
  background-color: #764B8E;
  backface-visibility: hidden;
}

.front-face
{
  transform: rotateY(180deg);
}
