*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.psivu
{
  height: 100vh;
  display: flex;
  background-image: url(kuvat/shelves.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.pelinRules
{
  margin-top: 20vh;
  margin-left: 31vh;
  width: 52vh;
  word-wrap: break-word;

}
.rules, .settings
{
  background-image: url(kuvat/listRules.png);
    background-size: cover;
  border: 3px solid white;
  border-radius: 17px;
  box-shadow: 0 0 20px rgba(0,0,0,1.5);
  padding: 18px;
  color: white;
  text-shadow: 1px 1px 1px #000;
  font-size: 21pt;
  font-family: 'Saira', sans-serif;

}

.pelinSettings
{
  margin-top: 40vh;
  margin-left: 38vh;
  width: 52vh;
  word-wrap: break-word;
}

.settingsText
{
  display: flex;
  gap: 30px;
  width: 20vh;
}

.wrapper {
  height: 100vh;
  display: flex;
  gap: 5rem;
  background-size: contain;
/*  background-color: purple;*/
  background-image: url(https://cdn.discordapp.com/attachments/1003712694072918127/1040729778849857586/egorek_Purple_wooden_shelf_with_black_background_realistic_ligh_e22e6aaa-46d4-4697-9eec-02abafaa358e.png);

}
.timer
{
  width: 250px;
  border: 3px solid #8A458A;
  border-radius: 17px;
  height: 70px;
  color:#FFFFFF;
  background: rgba(52, 0, 52, 0.9);
}

.buttons
{
  /* position: absolute; */
  margin-left: 17.5vh;
  margin-top: 59vh;
}

.buttons > section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.statistic
{
/*  position: absolute;*/
/*  z-index:  100;*/
    margin-top: auto;
    margin-bottom: auto;
    align-items: end;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    text-align: center;
}

.statisticSection
{
/*  width: 170px;*/
/*  height: 150px;*/
  width: 250px;
  border: 3px solid #8A458A;
  border-radius: 30px;
  box-shadow: 10px 10px 40px rgb(0 0 0 / 400%);
  padding-top: 20px;
  background: rgba(52, 0, 52, 0.9);
}
.statisticSection > p
{
  font-family: 'Saira', sans-serif;
  color:#FFFFFF;
  font-size: 20px;
  padding: 10px;

}


.wtf
{
  position: absolute;
  z-index:  100;
  visibility: hidden;
}
.NotHidden
{
  position: absolute;
  z-index:  100;
  animation: 1s show ease;
}
@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}

.surprise
{
  margin-left: 89vh;
  margin-top: 40vh;
  width: 250px;
  height: 250px;
/*  border-radius: 17px;*/
/*  background-color: white;*/
  background-image: url(kuvat/bg-win.png);
  text-align: center;
  padding: 30px 20px;
  border: 3px solid #8A458A;
  border-radius: 30px;
  box-shadow: 10px 10px 40px rgb(0 0 0 / 400%);
}
h1
{
  font-family: 'Saira', sans-serif;
  color:#DFD3DF!important;
  text-shadow: 1px 0 1px #000,
  0 1px 1px #000,
  -1px 0 1px #000,
  0 -1px 1px #000;
}
.surprise > p
{
  font-family: 'Saira', sans-serif;
  color:#0E0E0E;
}


.cardsContainer {
    width: 35%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.cardsContainer[data-game_size="18"] > .memory-game > .memory-card {
    width: 100px;
    height: 95px;
}

.memory-game {
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    perspective: 1000px;
    align-items: center;
}

.memory-card
{
  height: 120px;
  width: 130px;
  cursor: pointer;
  /*transform: scale(1);*/
  user-select: none;
  backface-visibility: hidden;
  transform: rotateY(0deg);
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  margin: 5px;
}

.flip {
  transform: rotateY(180deg);
}

.memory-card:active
{
  transform: scale(0.97);
  transition: transform 0.2s;
}

/*
img
{
  height: 170px;
  width: 170px;
}
*/
.front-face, .back-face
{
  width: 100%;
  height: 100%;
  padding: 0.99999px;
  position: absolute;
  border-radius: 17px;
  background-color: #764B8E;
  backface-visibility: hidden;
}

.front-face
{
  transform: rotateY(180deg);
}

.action-buttons {
    width: 250px;
    justify-content: center;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.button-72 {
  align-items: center;
  background-color: initial;
  background-image: linear-gradient(rgba(179, 132, 201, .84), rgba(57, 31, 91, .84) 50%);
  border-radius: 42px;
  border-width: 0;
  box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px,rgba(179, 132, 201, 0.4) 0 8px 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  font-family: Quicksand,sans-serif;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: .04em;
  line-height: 16px;
  margin: 0;
  padding: 18px 18px;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.4) 0 0 4px,rgba(255, 255, 255, 0.2) 0 0 12px,rgba(57, 31, 91, 0.6) 1px 1px 4px,rgba(57, 31, 91, 0.32) 4px 4px 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.button-72:hover {
  background-image: linear-gradient(#B384C9, #391F5B 50%);
}

@media (min-width: 768px) {
  .button-72 {
    font-size: 21px;
    padding: 18px 34px;
  }
}

.button-64 {
  display: flex;
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #771177 50%,#A794A7);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(52, 0, 52);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

@media screen and (min-width: 2000px) {
    .memory-card {
        height: 174px;
        width: 170px;
    }
    .cardsContainer[data-game_size="18"] > .memory-game > .memory-card {
        width: 120px;
        height: 135px;
    }
}

.button-9 {
  appearance: menulist-button;
  backface-visibility: hidden;
  background-color: #530E53;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}
