body
{
  width: 1070px;
  margin: auto;
  background-image: url(blue.jpg);
}
header, footer
{
  background-color: #7F82B2;
}
header
{
  border: 2px solid #B7B9FF;

}
header > h1
{
  background-color: #7F82B2;
  padding: 5px 0px 10px 10px;
  text-shadow: 5px 5px 10px #232457, 0 0 5px #5A5CB7;
}
nav
{
  width: 240px;
  margin: auto;
  background-color: #B7B9FF;
}
aside
{
  float: right;
  background-color: #232457;

}
section
{
  background-color: #1A1C59;
  width: 750px;
  border: 2px solid #B7B9FF;
}
section
{
  padding: 5px 0px 10px 10px;
}
aside
{
  height: 350px;
  width: 290px;
  border: 2px solid #B7B9FF;
}

aside > p
{
  padding: 10px;
}
h3, p
{
  color: #B9B9C4
}
h2
{
  color: #B9B9C4
}
#oikea
{
  float: right;
  margin-right: 60px;
  margin-top: 280px;
  border: 2px solid #B7B9FF;
}
#Betty
{
  border: 2px solid #B7B9FF;
}
#Dior
{
  border: 2px solid #B7B9FF;
}
#harrastukset
{
  border: 2px solid #B7B9FF;
}
ul li
{
  color: #B9B9C4
}
table
{
  margin-left: 100px;
}
