#vasen
{
  float: left;
  margin-right: 20px;
}
#vasen
{
    border: 3px solid powderblue;
}
body
{

  margin: 10px 200px

}
body
{
  background-image: url(https://sun9-north.userapi.com/sun9-80/s/v1/ig2/uVGVMpnc8Geszxpm-Yv5lrVc3d0j1dILMOe8PzTwhTfGumYHChZcEoZIibYUqLhmOzPnjKNt5Gs9QZiH2G6dA5QK.jpg?size=2560x1707&quality=96&type=album);
}
h1
{
  margin-left: 700px
}
h1
{
  border-bottom: 3px dotted #6441A4
}
#oikea
{
  float: right;
  margin-left: 20px
}
#oikea
{
    border: 3px solid powderblue;
}
.first
{
  background-color: #6441A4;
}

h1 {
  text-shadow: 5px 5px 10px #6441A4, 0 0 5px #8102FE;
}
.two
{
  background-color: #6441A4;
}

.blue
{
  background-color: #5B2761EB;
}
p
{
  border: 2px solid powderblue;
  margin: auto;
}
