body
{
  background-color: #cff6fb;
}
.article
{
  width: 500px;
  padding: 10px;
  margin: 10px;
  margin-right: 10px;
  float:left;
}
#eka
{
  background-color: yellow;
  border: 2px solid black;
}
#toka
{
  background-color: #00ab9d;
  border: 2px solid black;
}
#kolmas
{
  background-color: #22ab;
  border: 2px solid black;
}
#neljas
{
  background-color: #00ab9d;
  border: 2px solid black;
}
