.article
{
  width: 300px;
  padding: 10px;
  margin: 10px;
  margin-right: 10px;
  float:left;
  background-color: gray;
}
#eka
{
  background-color: yellow;
  border: 2px solid black;
}

#toka
{
  background-color: violet;
  border: 2px solid black;
}
#kolmas
{
  background-color: orange;
  border: 2px solid black;
}
#neljas
{
  background-color: blue;
  border: 2px solid black;
}

#viides
{
  background-color: green;
  border: 2px solid black;
}
/*#v1
{
  border: 2px solid gray;
  color: gray;
  background: white;
}*/
